{% extends "blog/index.html.twig" %}
{% block content%}
    <h1>{{ article.Description }}</h1>
    <h5>{{ article.Username }}</h5>
    <p>{{ article.NumbersOfPages }}</p>
    <p>{{ article.category }}</p>

{% endblock %}